.wrapper {
  width: 100%;
}

.content {
  max-width: 1040px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.slide-wrapper {
  max-width: 980px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide {
  width: 300vw;
  display: flex;
  transition: all 0.3s;
}

.content h3 {
  margin: 15px 0;
  font-size: 24px;
}

.movie {
  width: 184px;
  height: 326px;
  margin-right: 15px;
}

.movie .img {
  width: 100%;
  height: 262px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
}
.movie:hover img {
  transform: scale(1.05);
}

.title {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 18px;
  text-align: center;
  margin-top: 14px;
  color: black;
}

.content button {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

.arrow {
  padding: 5px;
  top: calc(50% - 22px);
  border: none;
  color: rgb(232, 232, 232);
}

.before {
  left: -20px;
}

.next {
  right: -20px;
}

.btn-all {
  top: 11%;
  right: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  padding: 4px 12px;
  text-align: center;
}

.btn {
  width: 30px;
  height: 30px;
  transition: all 0.1s;
}

.btn:hover {
  color: #a6acb9;
}

.stillcut {
  background: #000;
  width: 100%;
  height: 360px;
}

.stillcut .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 360px;
  position: relative;
}

.stillcut img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.trailer {
  background: #000;
  width: 100%;
  height: 460px;
  margin-bottom: 30px;
}