.wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  display: block;
}

.content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user p {
  font-size: 24px;
  font-weight: bold;
}

.user span {
  color: rgb(130, 130, 132);
}

.user a::after {
  content: ">";
  font-size: 15px;
  padding: 0 20px;
  color: rgb(130, 130, 132);
}

.form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.input {
  width: 300px;
  height: 50px;
  border: solid 1px #dadada;
  border-radius: 30px;
  padding: 0 12px;
  margin: 5px 0;
}

.input-error {
  border: solid 2px #ff3f3f;
}

.form button {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  border:none;
  font-size: 18px;
  background: #0B173B;
  color:white;
  margin-top: 20px;
  cursor: pointer;
}

.form button:disabled {
  cursor: default;
  color: #aaa;
  background: white;
  border: solid 1px #dadada;
}

.form span {
  font-size: 12px;
  color: #ff3f3f;
}

.form a {
  font-size: 13px;
  text-align: right;
  margin-top: 16px;
  padding-right: 5px;
  color: #888888;
  width: 300px;
}

.form h3 {
  width: 300px;
  margin: 30px 0 20px;
  font-size: 18px;
}

.id {
  position: relative;
}

.check {
  background: #0b173b;
  color: white;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 30px;
  position: absolute;
  top: 30%;
  right: -100px;
  cursor: pointer;
}

.movies {
  width: 100%;
  height: 300px;
  border: solid 1px #eee;
}

.info-wrapper {
  display: flex;
  width: 300px;
  align-items: center;
}

.info-wrapper p {
  font-weight: bold;
  font-size: 18px;
  width: 70px;
}

.info-wrapper span {
  color: rgb(130, 130, 132);
  font-size: 18px;
}

.info-wrapper input {
  width: 230px;
}

.mb {
  margin-bottom: 20px;
}

.hidden {
  color:blue;
  visibility: hidden;
}