.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #0b173b;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.nav a {
  color: #cacfe0;
  padding: 0 20px;
  transition: all 0.2s;
}

.nav a:hover {
  color: white;
}

.nav span {
  margin-left: 5px;
}

.nav a:nth-child(1) {
  color: white;
  padding: 0;
  padding-right: 20px;
}

.nav a:last-child {
  position: absolute;
  right: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  position: relative;
}

.active {
  font-weight: bold;
}
