.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #0b173b;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.nav a {
  color: #cacfe0;
  padding: 0 20px;
  transition: all 0.2s;
}

.nav a:hover,
.nav a.active {
  color: white;
}

.nav span {
  margin-left: 5px;
}

.nav .home {
  color: white;
  font-weight: bold;
  padding: 0;
  padding-right: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  position: relative;
}

.right {
  position: absolute;
  width: 300px;
  height: 100%;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:first-child {
  width: 225px;
}

.item:last-child {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cacfe0;
}

.item span {
  cursor: pointer;
}

.item span:hover {
  color: white;
}

.active {
  color: white;
}

.right span {
  padding-left: 10px;
}
